<h1>Current Conditions for <%= @city %></h1>
<p>Thanks for searching</p>
<p>It is <%= @data["main"]["temp"] %> degrees outside</p>
<p>Hope you enjoy the weather in <%= @city %></p>

 <p><a href="/weather/search">Try a new search ></a></p>


<!-- <p>Raw JSON response:</p>
<p><%= @json_data %></p> -->
<!-- special kind of tag - embedded ruby tag - can embed html right into ruby-->
