<div class="page-header">
  <h1>Product Catalog</h1>
</div>


<% @product_list.each do |product| %>
<div class="row">
  <div class="col-md-12">
    <h3><a href="/show"><%= product %></a></h3>


  </div>
</div>

<% end %>

